[submodule "modules/libcurl-android"]
	path = modules/libcurl-android
	url = https://github.com/andrewvmail/libcurl-android
[submodule "modules/Build-OpenSSL-cURL"]
	path = modules/Build-OpenSSL-cURL
	url = https://github.com/jasonacox/Build-OpenSSL-cURL.git
[submodule "modules/lua"]
	path = modules/lua
	url = https://github.com/lua/lua.git
[submodule "modules/Lua-cURLv3"]
	path = modules/Lua-cURLv3
	url = https://github.com/Lua-cURL/Lua-cURLv3.git
[submodule "modules/sqlcipher"]
	path = modules/sqlcipher
	url = https://github.com/sqlcipher/sqlcipher.git
[submodule "modules/sqlite"]
	path = modules/sqlite
	url = https://github.com/sqlite/sqlite.git
